//
//  Untitled.swift
//  Ping!
//
//  Created by Yeonseo Han on 2/2/26.
//

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

# Build
Build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# User settings
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
